<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="/static/images/favicon.ico" rel="SHORTCUT ICON">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>网吧管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="/index/">网吧管理系统登录</a>
              </div>
            </header>

            <!-- Banner -->
            <section class="main-banner">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="banner-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="banner-caption">
                            <h4>Hello, <br><em>网吧管理系统.</em> </h4>
                            <span>AWESOME NETBAR</span>
                            <p>欢迎来到<strong>网吧管理系统</strong>
                                我们为您提供最优质的
                                <strong>服务</strong>
                            </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
              <!-- Services -->
            <section class="services">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="service-item first-item">
                      <div class="icon"></div>
                      <h4>NetBar Notice</h4>
                      <p>Directly Go to <a rel="nofollow" href="/notice/">Notice</a>
                          to know the latest notice published.<br> Thank you.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item second-item">
                      <div class="icon"></div>
                      <h4>NetBar Appoint</h4>
                      <p>Click <a href="/appointment/">here</a> to view all the computers here and make your appointment.<br>Thank you.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item third-item">
                      <div class="icon"></div>
                      <h4>Buy Products</h4>
                      <p>Buy anything you want in the netbar. Just Click the <a href="/products/">button</a>.<br>Thank you.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fourth-item">
                      <div class="icon"></div>
                      <h4>Consume Info</h4>
                      <p>Directly go through all your <a href="/consume/">Consume Information</a>.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item fivth-item">
                      <div class="icon"></div>
                      <h4>Contact Us</h4>
                      <p>You can post what you wanna say on <a rel="nofollow" href="/comment/submit/">comment board.</a></p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service-item sixth-item">
                      <div class="icon"></div>
                      <h4>About Me</h4>
                      <p>Check the detail of your <a href="/personal_info/show/">Account</a>.Charge money here</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
                          <!-- Right Image -->
            <section class="right-image">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="left-content">
                      <h4>网吧简介</h4>
                        <p>互联网正以前所未有的速度成为我们生活重要的组成部份，本网络休闲中心拥有高速的光纤接入
                            和清新优雅的环境。
                            集轻松适的休闲氛围和飞奔的冲浪感受为一体。是上网、交流、游戏的高层次享受，
                            从而使本网吧成为集传统娱乐与高科技服务相兼容的具有时代特色的网友乐园。
                            我们现有当今流行配置的电脑100余台。中心内设有大厅、雅座、包厢以满足广大网友的不同需求，
                            网络休闲中心拥有专业的电脑技术人员，负责网吧的技术工作。随时为您解决上网过程中出现的各种问题，
                            同时为初次上网的人员免费指导，如果您不会上网，我们会教您每一个步骤。
                            本网络休闲中心是当地最具规模的上网娱乐场所，长期举行各种游戏的比赛，
                            我们正在不段的自我完善，努力为广大网友提供更好的服务。
                        </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img src="/static/images/back.jpg" alt="">
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="/notice/" style="font-family: 黑体; font-size: larger">网吧公告</a></li>
                <li><a href="/appointment/" style="font-family: 黑体; font-size: larger">预约信息</a></li>
                <li><a href="/products/" style="font-family: 黑体; font-size: larger">购买商品</a></li>
                <li><a href="/consume/" style="font-family: 黑体; font-size: larger">消费信息</a></li>
                <li><a href="/comment/submit/" style="font-family: 黑体; font-size: larger">留言板</a></li>
                <li><a href="/personal_info/show/" style="font-family: 黑体; font-size: larger">个人资料</a></li>
              </ul>
            </nav>

            <!-- Featured Posts -->
            <div class="featured-posts">
              <div class="heading">
                <h2>Featured Posts</h2>
              </div>
              <div class="owl-carousel owl-theme">
                <a href="#">
                  <div class="featured-item">
                    <img src="/static/images/back.jpg" alt="featured one">
                    <p>Picture1</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="/static/images/netbar.jpg" alt="featured two">
                    <p>Picture2</p>
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="/static/images/2.jpg" alt="featured three">
                    <p>Picture3</p>
                  </div>
                </a>
              </div>
            </div>
            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2020 ZachCompany
              <br>Designed by <a rel="nofollow" href="https://zach030.github.io/">Zach</a></p>
            </footer>
          </div>
        </div>
    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/assets/js/browser.min.js"></script>
    <script src="/static/assets/js/breakpoints.min.js"></script>
    <script src="/static/assets/js/transition.js"></script>
    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/custom.js"></script>
</body>
</html>
