<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/images/favicon.ico" rel="SHORTCUT ICON">
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- js -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>个人资料</title>
</head>
<body background="/static/images/email-pattern.png">
    <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/login/">主页</a>
            </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/notice/">公告</a></li>
                        <li class="active"><a href="/consume/">消费信息</a></li>
                        <li class="active"><a href="/appointment/">预定座位</a></li>
                        <li class="active"><a href="/personal_info/show/">个人信息</a></li>
                        <li class="active"><a href="/products/">购买商品</a></li>
                        <li class="active"><a href="/comment/submit/">留言板</a></li>
                    </ul>
                </div>
	</div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display" style="text-align: center">个人资料</h1>
        </div>
        <table class="table-striped, table-bordered, table-hover" style="font-size: large">
        <thead>
            <tr>
                <th style="text-align: center" width="200">编号</th>
                <th style="text-align: center" width="200">用户昵称</th>
                <th style="text-align: center" width="200">性别</th>
                <th style="text-align: center" width="200">年龄</th>
                <th style="text-align: center" width="200">账户余额</th>
                <th style="text-align: center" width="200">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for i in info %}
            <tr>
                <td style="text-align: center" class="pos-relative">{{ i.id }}</td>
                <td style="text-align: center" class="pos-relative">{{ i.nickname }}</td>
                <td style="text-align: center" class="pos-relative">{{ i.sex }}</td>
                <td style="text-align: center" class="pos-relative">{{ i.age }}</td>
                <td style="text-align: center" class="pos-relative">{{ i.money }}</td>
                <td style="text-align: center" class="pos-relative">
                    <a href="/personal_info/edit/?id={{ i.id }}">编辑</a>
                    <a href="/personal_info/money/?id={{ i.id }}">充值</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</body>
</html>