<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/images/favicon.ico" rel="SHORTCUT ICON">
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- js -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>我的购物车</title>
</head>
<body background="/static/images/email-pattern.png">
    <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/login/">主页</a>
            </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/notice/">公告</a></li>
                        <li class="active"><a href="/consume/">消费信息</a></li>
                        <li class="active"><a href="/appointment/">预定座位</a></li>
                        <li class="active"><a href="/personal_info/show/">个人信息</a></li>
                        <li class="active"><a href="/products/">购买商品</a></li>
                        <li class="active"><a href="/comment/submit/">留言板</a></li>
                    </ul>
                </div>
	</div>
    </nav>
    <div class="container">
        <div class="jumbotron" style="text-align: center; font-size: large">
            <h1 class="display" style="text-align: center">购物车</h1>
            <div class="guest_cart fr" style="text-align: right">
                    <a href="/products/" class="cart_name fl" style="font-size: medium">回到购买页</a>
            </div>
        </div>
        <div style="text-align: center; font-size: medium">
            <b>全部商品<em> {{ cart_goods_count }}  </em>件</b>
        </div>
        <table class="table-bordered" style="font-size: large">
            <thead>
                <th style="text-align: center" width="250">商品名称</th>
                <th style="text-align: center" width="250">商品价格</th>
                <th style="text-align: center" width="250">数量</th>
                <th style="text-align: center" width="250">小计</th>
                <th style="text-align: center" width="250">操作</th>
            </thead>
            <br>
            <tbody>
                {% for cart_goods in cart_goods_list %}
                <tr>
                    <td style="text-align: center" class="pos-relative">
                        <img src="{{ cart_goods.image_url }}" width="100" height="100">
                        <br><em>{{ cart_goods.name }}</em>
                        <br><em>{{ cart_goods.price }}元</em>
                    </td>
                    <td style="text-align: center" class="pos-relative">{{ cart_goods.price }}元</td>
                    <td style="text-align: center" class="pos-relative">{{ cart_goods.goods_num }}</td>
                    <td style="text-align: center" class="pos-relative">{{ cart_goods.total_money }}</td>
                    <td style="text-align: center" class="pos-relative"><a href="/products/remove_cart/?id={{ cart_goods.id }}">删除</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="text-align: center">
            <label style="font-size: larger;text-align: center">
                共计<b>{{ cart_goods_count }}</b>件商品
                <b>合计:</b><span>￥</span>
                <em>{{ cart_goods_money }}</em>
                <a href="/products/pay_order/">去结算</a>
            </label>
        </div>

    </div>
</body>
</html>